body{
    margin: 0 auto;
    background: blue;
}

.top_cupom{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    background: #EFEFEF;
}

.menu_info{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #000000;
}

.menu_info_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 45px;
    /*background: yellow;*/
}

.menu_info_box_logo{
    position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 20px;
    background: #FFF;
    padding: 12.5px;
}

.img_logo1{
    float: left;
    height: 20px;
}

.menu_info_box_menu{
    position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 45px;
}
.m1{
    float: left;
    font-family: arial;
    font-size: 13px;
    color: #fff;
    padding: 16px 20px;
    text-decoration: none;
}

.m1:hover{
    color: #F3018D;
}

.m1_card{
    float: left;
    font-family: arial;
    font-size: 13px;
    color: #fff;
    padding: 8px 20px;
    margin: 8px 0px;
    text-decoration: none;
    background: #F3018D;
    border-radius: 20px;
}

.m1_card:hover{
    color: black;
}

.menu{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 145px;
    text-align: center;
    background: yellow;
}

.menu_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 145px;
    background: purple;
}

.menu_box1{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 85px;
    background: pink;
}
.menu_box_pags{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 60px;
    background: red;
}

.menu_box1_logo, .menu_box1_pesq, .menu_box1_entre, .menu_box1_carrinho{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 256px;
    height: 85px;
}

.menu_box1_logo{
    background: white;
}

.menu_box1_pesq{
    background: orange;
}

.menu_box1_entre{
    background: green;
}

.menu_box1_carrinho{
    background: gray;
}

.img_logo2{
    float: left;
    height: 46.4px;
    padding: 20px 0;
}
.inp_pesq{
    font-family: arial;
    font-size: 15px;
    float: left;
    color: #333;
    padding: 8px 5px;
    border: solid 1px #ff009c;
    /*Altura = 8px + 14px = 30px*/
}
.btpesq{
    height: 34px;
    width: 30px;
    background: #ff009c;
    margin: 0;
    float: left;
    border: solid 1px #ff009c;
    background-image: url("../img/pesquisar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.menu_box1_pesq form{
    padding: 26px 0px;
}
