body{
    margin: 0 auto;
    background: white;
}
.top_cupom{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    background: #EFEFEF;
}

.menu_info{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #222222;
}

.menu_info_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 45px;
    /*background: yellow;*/
}

.menu_info_box_logo{
    position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 20px;
    background: #FFF;
    padding: 12.5px;
}

.img_logo1{
    float: left;
    height: 20px;
}

.menu_info_box_menu{
    position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 45px;
}
.m1{
    float: left;
    font-family: arial;
    font-size: 13px;
    color: #fff;
    padding: 16px 20px;
    text-decoration: none;
}

.m1:hover{
    color: #F3018D;
}

.m1_card{
    float: left;
    font-family: arial;
    font-size: 13px;
    color: #fff;
    padding: 8px 20px;
    margin: 8px 0px;
    text-decoration: none;
    background: #F3018D;
    border-radius: 20px;
}

.m1_card:hover{
    color: black;
}

.menu{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 145px;
    text-align: center;
    background: white;
}

.menu_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 145px;
    
}

.menu_box1{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 85px;
}
.menu_box_pags{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 60px;

}

.menu_box1_logo, .menu_box1_pesq, .menu_box1_entre, .menu_box1_carrinho{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 256px;
    height: 85px;
}


.menu_box1_entre{
    background-image: url("../img/avatar.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px 30px;

}

.menu_box1_carrinho{
    background: gray;
}

.img_logo2{
    float: left;
    height: 46.4px;
    padding: 20px 0;
}
.inp_pesq{
    font-family: arial;
    font-size: 15px;
    float: left;
    color: #333;
    padding: 8px 5px;
    border: solid 1px #ff009c;
    /*Altura = 8px + 14px = 30px*/
}
.btpesq{
    height: 34px;
    width: 30px;
    background-color: #ff009c;
    margin: 0;
    float: left;
    border: solid 1px #ff009c;
    background-image: url("../img/lupa.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 15px 15px;
}

.menu_box1_pesq form{
    padding: 26px 0px;
}

.link_entre{
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    color: #ccc;
    float: left;
    line-height: 85px;
    margin-left: 50px;
}
.box_car{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 50px;
    height: 85px;
    background-image: url("../img/carrinho.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: 30px 30px;
}

.span{
 float: left;
    font-family: arial;
    font-size: 15px;
    color: #fff;
    background: #ff009c;
    padding: 1px 5px;
    border-radius: 20px;
    margin-top: 45px;
    margin-left: 30px;
}

.box_texto_car{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 205px;
    height: 85px;
    padding: 27.5px 0px;
}

.box_texto_car label{
    font-family: arial;
    font-size: 15px;
    color: #666;
    display: block;
    
}

.pags{ 
    float: left;
    font-family: arial;
    font-size: 15px;
    color: #3d3d3d;
    padding: 12px 20px;
    text-decoration: none; 
    line-height: 40px;
}

.frete{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 39px;
    text-align: center;
    background: #272526;
}

.banner{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 847px;
    background-image: url("../img/banner.gif");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
